<div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow-light text-nexum-light">
    <div class="card-body">
        <h5 class="nexum-summary-card-title">Alerts Summary</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-bell-fill nexum-summary-icon"></i>
                    <span>Total Alerts: 50</span>
                </div>
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-calendar2-plus-fill nexum-summary-icon"></i>
                    <span>New Alerts Today: 5</span>
                </div>
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-check-circle-fill nexum-summary-icon"></i>
                    <span>Resolved Alerts: 45</span>
                </div>
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-clock-fill nexum-summary-icon"></i>
                    <span>Pending Alerts: 5</span>
                </div>
            </div>
        </div>
        <h5 class="nexum-summary-card-title mt-3">Alerts by Severity</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                    <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                    <span>Information: 20</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                    <i class="bi bi-arrow-down-right-circle-fill nexum-summary-icon"></i>
                    <span>Low: 10</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                    <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                    <span>Medium: 8</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.45);">
                    <i class="bi bi-exclamation-triangle-fill nexum-summary-icon"></i>
                    <span>High: 7</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.50" );>
                    <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                    <span>Critical: 5</span>
                </div>
            </div>
        </div>
    </div>
</div>