<div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow-light text-nexum-light">
    <div class="card-body">
        <h5 class="nexum-summary-card-title">Logs Summary</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-file-earmark-text-fill nexum-summary-icon"></i>
                    <span>Total Logs: 100</span>
                </div>
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-file-earmark-plus-fill nexum-summary-icon"></i>
                    <span>Logs Today: 15</span>
                </div>
            </div>
        </div>
        <h5 class="nexum-summary-card-title mt-3">Logs by Type</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                    <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                    <span>Trace: 25</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                    <i class="bi bi-bug-fill nexum-summary-icon"></i>
                    <span>Debug: 20</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                    <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                    <span>Information: 30</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.45);">
                    <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                    <span>Warning: 15</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.50);">
                    <i class="bi bi-x-circle-fill nexum-summary-icon"></i>
                    <span>Error: 10</span>
                </div>
            </div>
        </div>
    </div>
</div>