<div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow-light text-nexum-light">
    <div class="card-body">
        <h5 class="nexum-summary-card-title">Jobs Summary</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                    <i class="bi bi-briefcase-fill nexum-summary-icon"></i>
                    <span>Total Jobs: 15</span>
                </div>
            </div>
        </div>
        <h5 class="nexum-summary-card-title mt-3">Jobs by Status</h5>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-between">
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                    <i class="bi bi-hourglass-split nexum-summary-icon"></i>
                    <span>Not Started: 4</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                    <i class="bi bi-play-fill nexum-summary-icon"></i>
                    <span>In Progress: 2</span>
                </div>
                <div class="nexum-mini-card bg-teal d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.30);">
                    <i class="bi bi-check-circle-fill nexum-summary-icon"></i>
                    <span>Completed: 8</span>
                </div>
                <div class="nexum-mini-card bg-red d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                    <i class="bi bi-x-circle-fill nexum-summary-icon"></i>
                    <span>Failed: 1</span>
                </div>
                <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.40);">
                    <i class="bi bi-arrow-repeat nexum-summary-icon"></i>
                    <span>Restarting: 3</span>
                </div>
            </div>
        </div>
    </div>
</div>