@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div class="text-center text-white container-fluid">
        
        <!-- First Row: 3 Cards -->
        <div class="d-flex flex-wrap justify-content-center my-3">
            <!-- New Alerts Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-bell-fill text-primary nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">2</h3>
                        <p class="nexum-card-text mb-0">New Alerts</p>
                    </div>
                </div>
            </div>
            <!-- Total Accounts Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-people-fill text-info nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">14</h3>
                        <p class="nexum-card-text mb-0">Total Accounts</p>
                    </div>
                </div>
            </div>
            <!-- Jobs Running Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-list-task text-success nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">1</h3>
                        <p class="nexum-card-text mb-0">Jobs Running</p>
                    </div>
                </div>
            </div>

            <!-- Total Backups Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-database-fill text-warning nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">29</h3>
                        <p class="nexum-card-text mb-0">Total Backups</p>
                    </div>
                </div>
            </div>
            <!-- Total Usage Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-hdd-fill text-danger nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">98.3 GB</h3>
                        <p class="nexum-card-text mb-0">Total Usage</p>
                    </div>
                </div>
            </div>
            <!-- Total Jobs Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-briefcase-fill text-secondary nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">5</h3>
                        <p class="nexum-card-text mb-0">Total Jobs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Detailed Cards -->
    

    <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-6">
            <div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow text-nexum-light">
                <div class="card-body">
                    <h5 class="nexum-summary-card-title">Alerts Summary</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-bell-fill nexum-summary-icon"></i>
                                <span>Total Alerts: 50</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-calendar2-plus-fill nexum-summary-icon"></i>
                                <span>New Alerts Today: 5</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-check-circle-fill nexum-summary-icon"></i>
                                <span>Resolved Alerts: 45</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-clock-fill nexum-summary-icon"></i>
                                <span>Pending Alerts: 5</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="nexum-summary-card-title mt-3">Alerts by Severity</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                                <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                                <span>Information: 20</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                                <i class="bi bi-arrow-down-right-circle-fill nexum-summary-icon"></i>
                                <span>Low: 10</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                                <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                                <span>Medium: 8</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.45);">
                                <i class="bi bi-exclamation-triangle-fill nexum-summary-icon"></i>
                                <span>High: 7</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.50");>
                                <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                                <span>Critical: 5</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow text-nexum-light">
                <div class="card-body">
                    <h5 class="nexum-summary-card-title">Logs Summary</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-file-earmark-text-fill nexum-summary-icon"></i>
                                <span>Total Logs: 100</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-file-earmark-plus-fill nexum-summary-icon"></i>
                                <span>Logs Today: 15</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="nexum-summary-card-title mt-3">Logs by Type</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                                <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                                <span>Trace: 25</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                                <i class="bi bi-bug-fill nexum-summary-icon"></i>
                                <span>Debug: 20</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                                <i class="bi bi-info-circle-fill nexum-summary-icon"></i>
                                <span>Information: 30</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.45);">
                                <i class="bi bi-exclamation-circle-fill nexum-summary-icon"></i>
                                <span>Warning: 15</span>
                            </div>
                                    <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.50);">
                                <i class="bi bi-x-circle-fill nexum-summary-icon"></i>
                                <span>Error: 10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow text-nexum-light">
                <div class="card-body">
                    <h5 class="nexum-summary-card-title">Jobs Summary</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-briefcase-fill nexum-summary-icon"></i>
                                <span>Total Jobs: 15</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="nexum-summary-card-title mt-3">Jobs by Status</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                                <i class="bi bi-hourglass-split nexum-summary-icon"></i>
                                <span>Not Started: 4</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                                <i class="bi bi-play-fill nexum-summary-icon"></i>
                                <span>In Progress: 2</span>
                            </div>
                            <div class="nexum-mini-card bg-teal d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.30);">
                                <i class="bi bi-check-circle-fill nexum-summary-icon"></i>
                                <span>Completed: 8</span>
                            </div>
                            <div class="nexum-mini-card bg-red d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                                <i class="bi bi-x-circle-fill nexum-summary-icon"></i>
                                <span>Failed: 1</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.40);">
                                <i class="bi bi-arrow-repeat nexum-summary-icon"></i>
                                <span>Restarting: 3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Backups Summary Card -->
        <div class="col-md-6">
            <div class="card nexum-summary-card bg-nexum-dark nexum-card-shadow text-nexum-light">
                <div class="card-body">
                    <h5 class="nexum-summary-card-title">Backups Summary</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-server nexum-summary-icon"></i>
                                <span>Total Backups: 29</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1"">
                                <i class="bi bi-check-circle-fill nexum-summary-icon"></i>
                                <span>Successful Backups: 2</span>
                            </div>
                            <div class="nexum-mini-card bg-mini-card d-flex align-items-center m-1">
                                <i class="bi bi-x-circle-fill nexum-summary-icon"></i>
                                <span>Failed Backups: 4</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="nexum-summary-card-title mt-3">Backups by Type</h5>
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between">
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.15);">
                                <i class="bi bi-hdd-fill nexum-summary-icon"></i>
                                <span>Full: 10</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.25);">
                                <i class="bi bi-hdd-fill nexum-summary-icon"></i>
                                <span>Incremental: 15</span>
                            </div>
                            <div class="nexum-mini-card d-flex align-items-center m-1" style="background-color: rgba(198, 186, 210, 0.35);">
                                <i class="bi bi-hdd-fill nexum-summary-icon"></i>
                                <span>Differential: 4</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Alert/Table',
                type: 'GET',
                success: function (result) {
                    $('#alertContentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#alertContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}

@* @(await Html.RenderComponentAsync<SharedComponents.Components.Account.Login>(RenderMode.Server)) *@