@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="homeSummaryCardsContentBox"></div>

    <!-- Detailed Cards -->

    <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-6">
            <div id="homeAlertSummaryContentBox"></div>
        </div>
        <div class="col-md-6">
            <div id="homeLogSummaryContentBox"></div>
        </div>
        <div class="col-md-6">
            <div id="homeJobSummaryContentBox"></div>
        </div>
        <div class="col-md-6">
            <div id="homeBackupSummaryContentBox"></div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function loadMiniSummaryCards() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Summary Cards...</h5>';
                $('#homeSummaryCardsContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Home/SummaryCards',
                        type: 'GET',
                        success: function (result) {
                            $('#homeSummaryCardsContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#homeSummaryCardsContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 0);
            }

            function loadAlertSummaryCard() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Alert Summary Card...</h5>';
                $('#homeAlertSummaryContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Home/AlertSummaryCard',
                        type: 'GET',
                        success: function (result) {
                            $('#homeAlertSummaryContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#homeAlertSummaryContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 0);
            }

            function loadLogSummaryCard() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Log Summary Card...</h5>';
                $('#homeLogSummaryContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Home/LogSummaryCard',
                        type: 'GET',
                        success: function (result) {
                            $('#homeLogSummaryContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#homeLogSummaryContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 0);
            }

            function loadJobSummaryCard() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Job Summary Card...</h5>';
                $('#homeJobSummaryContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Home/JobSummaryCard',
                        type: 'GET',
                        success: function (result) {
                            $('#homeJobSummaryContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#homeJobSummaryContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 0);
            }

            function loadBackupSummaryCard() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Backup Summary Card...</h5>';
                $('#homeBackupSummaryContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Home/BackupSummaryCard',
                        type: 'GET',
                        success: function (result) {
                            $('#homeBackupSummaryContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#homeBackupSummaryContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 0);
            }

            loadMiniSummaryCards();
            loadAlertSummaryCard();
            loadLogSummaryCard();
            loadJobSummaryCard();
            loadBackupSummaryCard();

            $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

                $('#homeSummaryCardsContentBox').html('');
                loadMiniSummaryCards();
                loadAlertSummaryCard();
                loadLogSummaryCard();
                loadJobSummaryCard();
                loadBackupSummaryCard();
            });
        });

    </script>
}
