@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div class="text-center text-white container-fluid">
        <!-- First Row: 2 Cards -->
        <div class="d-flex flex-wrap justify-content-center my-3">
            <div class="card bg-nexum-dark m-1" style="flex: 1 1 calc(50% - 2rem);">
                <div class="card-body p-0">
                    <h5 class="card-title text-light">Card 1</h5>
                    <p class="card-text text-light">This is the first card.</p>
                </div>
            </div>
            <div class="card bg-nexum-dark m-1" style="flex: 1 1 calc(50% - 2rem);">
                <div class="card-body p-0">
                    <h5 class="card-title text-light">Card 2</h5>
                    <p class="card-text text-light">This is the second card.</p>
                </div>
            </div>
        </div>
        <!-- Second Row: 3 Cards -->
        <div class="d-flex flex-wrap justify-content-center mb-3">
            <div class="card bg-nexum-dark m-1" style="flex: 1 1 calc(33.33% - 2rem);">
                <div class="card-body p-0">
                    <h5 class="card-title text-light">Card 3</h5>
                    <p class="card-text text-light">This is the third card.</p>
                </div>
            </div>
            <div class="card bg-nexum-dark m-1" style="flex: 1 1 calc(33.33% - 2rem);">
                <div class="card-body p-0">
                    <h5 class="card-title text-light">Card 4</h5>
                    <p class="card-text text-light">This is the fourth card.</p>
                </div>
            </div>
            <div class="card bg-nexum-dark m-1" style="flex: 1 1 calc(33.33% - 2rem);">
                <div class="card-body p-0">
                    <h5 class="card-title text-light">Card 5</h5>
                    <p class="card-text text-light">This is the fifth card.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="alertContentBox" class="text-center text-white"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Alert/Table',
                type: 'GET',
                success: function (result) {
                    $('#alertContentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#alertContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}

@* @(await Html.RenderComponentAsync<SharedComponents.Components.Account.Login>(RenderMode.Server)) *@