@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div class="text-center text-white container-fluid">
        
        <!-- First Row: 3 Cards -->
        <div class="d-flex flex-wrap justify-content-center my-3">
            <!-- New Alerts Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-bell-fill text-primary nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">2</h3>
                        <p class="nexum-card-text mb-0">New Alerts</p>
                    </div>
                </div>
            </div>
            <!-- Total Accounts Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-people-fill text-info nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">14</h3>
                        <p class="nexum-card-text mb-0">Total Accounts</p>
                    </div>
                </div>
            </div>
            <!-- Jobs Running Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-list-task text-success nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">1</h3>
                        <p class="nexum-card-text mb-0">Jobs Running</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Row: 3 Cards -->
        <div class="d-flex flex-wrap justify-content-center mb-3">
            <!-- Total Backups Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-database-fill text-warning nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">29</h3>
                        <p class="nexum-card-text mb-0">Total Backups</p>
                    </div>
                </div>
            </div>
            <!-- Total Usage Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-hdd-fill text-danger nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">98.3 GB</h3>
                        <p class="nexum-card-text mb-0">Total Usage</p>
                    </div>
                </div>
            </div>
            <!-- Total Jobs Card -->
            <div class="card bg-nexum-dark text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-flex-item nexum-card-shadow">
                <div class="card-body d-flex align-items-center text-center">
                    <div class="me-3">
                        <div class="bg-nexum-light rounded-circle d-flex align-items-center justify-content-center nexum-card-container">
                            <i class="bi bi-briefcase-fill text-secondary nexum-card-icon"></i>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="nexum-card-title mb-0">5</h3>
                        <p class="nexum-card-text mb-0">Total Jobs</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div id="alertContentBox" class="text-center text-white"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Alert/Table',
                type: 'GET',
                success: function (result) {
                    $('#alertContentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#alertContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}

@* @(await Html.RenderComponentAsync<SharedComponents.Components.Account.Login>(RenderMode.Server)) *@