@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="parentContentBox" class="border text-center border-light text-white container-fluid p-0" style="flex: 1 1 auto;">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>

    <div id="contentBox" class="border text-center border-light text-white"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Home/Partial',
                type: 'GET',
                success: function (result) {
                    $('#contentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#contentBox').html('<p>' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}