@model GroupViewModel

@{
    ViewData["Title"] = "Groups";
}

<h1>List of Groups</h1>

<a asp-action="Add">Add Group</a>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>IsActive</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.Groups)
        {
            <tr>
                <td>@group.Id</td>
                <td>@group.Name</td>
                <td>@group.Description</td>
                <td>@group.IsActive</td>
                <td>
                    <a asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>