@model InstallationKey

<div class="container-fluid overflow-hidden d-flex justify-content-center my-2">
    <div class="my-3 text-nexum-light" style="width: 80%">
        <form id="keyForm@(Model.TenantId)" asp-controller="Tenant" asp-action="EditKey" asp-route-id="@Model.TenantId">
            <div class="d-flex flex-nowrap justify-content-center align-items-center">
                <div class="mx-auto">
                    <b class="m-0">@Model.Key</b>
                </div>
                <div class="mx-auto" style="width: 15%">
                    <select asp-for="Type" class="form-control form-control-nexum-dark" asp-items="Html.GetEnumSelectList<InstallationKeyType>()" required></select>
                </div>
                <div>
                    <input asp-for="Id" type="hidden" value="@Model.Id" />
                </div>
                <div class="mx-auto" style="width: 20%">
                    <button type="submit" class="btn btn-success-nexum-dark text-nexum-light bg-nexum-light">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-end align-items-start">
        <a id="keyCreateCloseLink@(Model.TenantId)" class="nav-link rounded-1 d-flex align-items-center justify-content-center" asp-controller="Tenant" asp-action="AddKey" role="button">
            <svg class="bi text-light" fill="currentColor" style="max-height: 25px; max-width: 25px;">
                <use xlink:href="#x"></use>
            </svg>
        </a>
    </div>
</div>
