@model TenantViewModel

@{
    ViewData["Title"] = $"Tenants";
}

<h1>List of Tenants</h1>

<a asp-action="Add">Add Tenant</a>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>ApiKey</td>
            <td>IsActive</td>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tenant in Model.Tenants)
        {
            <tr>
                <td>@tenant.Id</td>
                <td>@tenant.TenantInfo?.Name</td>
                <td>@tenant.ApiKey</td>
                <td>@tenant.IsActive</td>
                <td>
                    <a asp-action="Devices">Devices</a>
                </td>
                <td>
                    <a asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>