@{
    ViewData["Title"] = "Tenants";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox" class="container-fluid p-0" style="flex: 1 1 auto; min-height:80vh;">
    <div id="tempDataMessage" class="mb-2"></div>
    <div id="tenantActionContentBox" class="mb-2"></div>
    <div id="contentBox" class="mb-2"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function loadTable() {
                // Add a loading message
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Table...</h5>';
                $('#contentBox').prepend(loadingMessage);

                $.ajax({
                    url: '/Tenant/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#contentBox').html(result);
                        $('.collapse').on('show.bs.collapse', function () {
                            $('.collapse').not(this).collapse('hide');
                        });
                    },
                    error: function (xhr, status, error) {
                        $('#contentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }

            loadTable();

            //Tenants

            $(document).on('click', '#tenantCreateLink', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/Tenant/Create',
                    type: 'GET',
                    success: function (result) {
                        $('#tenantActionContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#tenantActionContentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $('#tenantActionContentBox').on('submit', '#tenantForm', function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = form.serialize();
                var id = form.find('input[name="Id"]').val();
                var url = id ? '/Tenant/' + id + '/Update' : '/Tenant/Create';

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#tenantActionContentBox').html('');
                            $('#tempDataMessage').html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            setTimeout(function () {
                                loadTable();
                            }, 2000);
                        } else {
                            $('#tenantActionContentBox').html(result.html);
                            $('#tempDataMessage').html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tenantActionContentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=tenantEditLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('tenantEditLink', '');
                $.ajax({
                    url: '/Tenant/' + id + '/Update',
                    type: 'GET',
                    success: function (result) {
                        $('#tenantActionContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#tenantActionContentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('submit', '[id^=tenantDeletelink]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace('tenantDeletelink', '');
                var formData = form.serialize();

                $.ajax({
                    url: '/Tenant/' + id + '/Delete',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#tempDataMessageTenant' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            setTimeout(function () {
                                loadTable();
                            }, 2000);
                        } else {
                            $('#tempDataMessageTenant' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tempDataMessageTenant' + id).html('<div class="alert alert-danger alert-dismissible fade show">An error occurred while processing your request.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        console.error('Error:', error);
                    }
                });
            });

            $(document).on('click', '[id^=tenantCloseLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('tenantCloseLink', '');
                $('#tenantActionContentBox').html('');
            });

            //Keys

            $(document).on('click', '[id^=keyCreateLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyCreateLink', '');
                $.ajax({
                    url: '/Tenant/' + id + '/CreateKey',
                    type: 'GET',
                    success: function (result) {
                        $('#keyCreateContentBox' + id).html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#keyCreateContentBox' + id).html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=keyEditLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyEditLink', '');

                var parentDiv = $(this).closest('[id^=details]');
                var tenantId = parentDiv.attr('id').replace('details', '');

                $.ajax({
                    url: '/Tenant/' + id + '/UpdateKey',
                    type: 'GET',
                    success: function (result) {
                        $('#keyCreateContentBox' + tenantId).html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#keyCreateContentBox' + tenantId).html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('submit', '[id^=keyDeletelink]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace('keyDeletelink', '');
                var formData = form.serialize();

                var parentDiv = $(this).closest('[id^=details]');
                var tenantId = parentDiv.attr('id').replace('details', '');

                $.ajax({
                    url: '/Tenant/' + id + '/DeleteKey',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#tempDataMessageKey' + tenantId).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            setTimeout(function () {
                                loadTable();
                            }, 2000);
                        } else {
                            $('#tempDataMessageKey' + tenantId).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tempDataMessageKey' + tenantId).html('<div class="alert alert-danger alert-dismissible fade show">An error occurred while processing your request.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        console.error('Error:', error);
                    }
                });
            });

            $(document).on('submit', '[id^=keyForm]', function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = form.serialize();
                var id = $(this).attr('id').replace('keyForm', '');
                var keyId = form.find('input[name="Id"]').val();
                var url = keyId ? '/Tenant/' + keyId + '/UpdateKey' : '/Tenant/' + id + '/CreateKey';

                console.log(`tenant ${id} - key ${keyId} - url ${url}`)

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#keyCreateContentBox' + id).html('');
                            $('#tempDataMessageKey' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            setTimeout(function () {
                                loadTable();
                            }, 2000);
                        } else {
                            $('#keyCreateContentBox' + id).html(result.html);
                            $('#tempDataMessageKey' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#keyCreateContentBox' + id).html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=keyCreateCloseLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyCreateCloseLink', '');
                $('#keyCreateContentBox' + id).html('');
            });
        });
    </script>
}