@{
    ViewData["Title"] = "Tenants";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox" class="container-fluid p-0" style="flex: 1 1 auto; min-height:80vh;">
    <div id="tempDataMessage"></div>
    <div id="tenantActionContentBox" class="mb-2"></div>
    <div id="contentBox"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function loadTable() {
                $.ajax({
                    url: '/Tenant/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#contentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#contentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }

            loadTable();

            $(document).on('click', '#tenantCreateLink', function (event) {
                event.preventDefault();
                $.ajax({
                    url: '/Tenant/Create',
                    type: 'GET',
                    success: function (result) {
                        $('#tenantActionContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#tenantActionContentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $('#tenantActionContentBox').on('submit', '#tenantForm', function (event) {
                event.preventDefault();
                var formData = $(this).serialize();

                $.ajax({
                    url: '/Tenant/Create',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#tenantActionContentBox').html('');
                            $('#tempDataMessage').html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            loadTable();
                        } else {
                            $('#tenantActionContentBox').html(result.html);
                            $('#tempDataMessage').html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tenantActionContentBox').html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=keyCreateLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyCreateLink', '');
                $.ajax({
                    url: '/Tenant/' + id + '/CreateKey',
                    type: 'GET',
                    success: function (result) {
                        $('#keyCreateContentBox' + id).html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#keyCreateContentBox' + id).html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('submit', '[id^=keyForm]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyForm', '');
                var formData = $(this).serialize();

                $.ajax({
                    url: '/Tenant/' + id + '/CreateKey',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#keyCreateContentBox' + id).html('');
                            $('#tempDataMessageKey' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            loadTable();
                        } else {
                            $('#keyCreateContentBox' + id).html(result.html);
                            $('#tempDataMessageKey' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#keyCreateContentBox' + id).html('<p>' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=keyCreateCloseLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('keyCreateCloseLink', '');
                $('#keyCreateContentBox' + id).html('');
            });

            $('.collapse').on('show.bs.collapse', function () {
                $('.collapse').not(this).collapse('hide');
            });
        });
    </script>
}