@{
    ViewData["Title"] = "Alerts";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="alertSeverityCardsContentBox"></div>
    <div id="alertActionContentBox"></div>
    <div id="alertContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadSeverityCards() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Severity Cards...</h5>';
            $('#alertSeverityCardsContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Alert/SeverityCards',
                    type: 'GET',
                    success: function (result) {
                        $('#alertSeverityCardsContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#alertSeverityCardsContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        function loadAlertTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Alerts...</h5>';
            $('#alertContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Alert/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#alertContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#alertContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        loadSeverityCards();
        loadAlertTable();

        $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
            event.preventDefault();
            var form = $(this);
            var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

            $('#alertActionContentBox').html('');
            loadSeverityCards();
            loadAlertTable();
        });

    </script>
}