@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="border p-4 text-center border-light text-white" id="contentBox">

</div>