@{
    ViewData["Title"] = "Logs";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="logTypeContentBox"></div>
    <div id="logActionContentBox"></div>
    <div id="logContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadTypeCards() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Type Cards...</h5>';
            $('#logTypeContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Log/TypeCards',
                    type: 'GET',
                    success: function (result) {
                        $('#logTypeContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#logTypeContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        function loadLogTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Logs...</h5>';
            $('#logContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Log/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#logContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#logContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        loadTypeCards();
        loadLogTable();

        $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
            event.preventDefault();
            var form = $(this);
            var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

            $('#logActionContentBox').html('');
            loadTypeCards();
            loadLogTable();
        });

    </script>
}