@{
    ViewData["Title"] = "Logs";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="logTypeContentBox"></div>
    <div id="logActionContentBox"></div>
    <div id="logContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadTypeCards() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Type Cards...</h5>';
            $('#logTypeContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Log/TypeCards',
                    type: 'GET',
                    success: function (result) {
                        $('#logTypeContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#logTypeContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 1500);
        }

        function loadLogTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Logs...</h5>';
            $('#logContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Log/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#logContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#logContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 1500);
        }

        loadTypeCards();
        loadLogTable();

        $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
            event.preventDefault();
            var form = $(this);
            var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

            $('#logActionContentBox').html('');
            loadTypeCards();
            loadLogTable();
        });

        $(document).on('submit', '[id^=logDeletelink]', function (event) {
            event.preventDefault();
            var form = $(this);
            var id = form.attr('id').replace('logDeletelink', '');
            var formData = form.serialize();

            $.ajax({
                url: '/Log/' + id + '/Delete',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result.success) {
                        $('#tempDataMessageLog' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        loadTypeCards();
                        loadLogTable();
                    } else {
                        $('#tempDataMessageLog' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                    }
                },
                error: function (xhr, status, error) {
                    $('#tempDataMessageLog' + id).html('<div class="alert alert-danger alert-dismissible fade show">An error occurred while processing your request.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                    console.error('Error:', error);
                }
            });
        });

    </script>
}