@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="jobStatusCardsContentBox"></div>
    <div id="jobActionContentBox"></div>
    <div id="jobContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadStatusCards() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Status Cards...</h5>';
            $('#jobStatusCardsContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Job/StatusCards',
                    type: 'GET',
                    success: function (result) {
                        $('#jobStatusCardsContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#jobStatusCardsContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        function loadTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Jobs...</h5>';
            $('#jobContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Job/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#jobContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#jobContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 2000);
        }

        loadStatusCards();
        loadTable();

        $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
            event.preventDefault();
            var form = $(this);
            var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

            $('#jobActionContentBox').html('');
            loadStatusCards();
            loadTable();
        });

    </script>
}