@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
@*<div id="parentContentBox" class="text-center text-white container-fluid p-0" style="flex: 1 1 auto;">*@
    <!-- Jobs Cards -->
    <div class="d-flex flex-wrap justify-content-around my-3">
        <!-- Not Started Job Card -->
        <div class="card bg-not-started text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
            <div class="card-body nexum-card-body-square">
                <h3 class="nexum-card-title-square mb-0">4</h3>
                <p class="nexum-card-text-square mb-0">Not Started</p>
            </div>
        </div>
        <!-- In Progress Job Card -->
        <div class="card bg-in-progress text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
            <div class="card-body nexum-card-body-square">
                <h3 class="nexum-card-title-square mb-0">2</h3>
                <p class="nexum-card-text-square mb-0">In Progress</p>
            </div>
        </div>
        <!-- Complete Job Card -->
        <div class="card bg-complete text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
            <div class="card-body nexum-card-body-square">
                <h3 class="nexum-card-title-square mb-0">8</h3>
                <p class="nexum-card-text-square mb-0">Complete</p>
            </div>
        </div>
        <!-- Failed Job Card -->
        <div class="card bg-failed text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
            <div class="card-body nexum-card-body-square">
                <h3 class="nexum-card-title-square mb-0">1</h3>
                <p class="nexum-card-text-square mb-0">Failed</p>
            </div>
        </div>
        <!-- Restarting Job Card -->
        <div class="card bg-restarting text-nexum-light m-1 border-nexum-dark-3 position-relative nexum-card-container-square nexum-card-shadow-square">
            <div class="card-body nexum-card-body-square">
                <h3 class="nexum-card-title-square mb-0">3</h3>
                <p class="nexum-card-text-square mb-0">Restarting</p>
            </div>
        </div>
    </div>

    <div id="contentBox" class="border border-nexum-light"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Job/Partial',
                type: 'GET',
                success: function (result) {
                    $('#contentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#contentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}