@model AuthViewModel

@{
    ViewData["Title"] = "Login";
}

<div id="parentContentBox">
    <div class="d-flex justify-content-center align-content-center">
        <partial name="_LoginFormPartial" model="Model"/>
    </div>
</div>