<div class="m-auto">
    <a id="tenantLink" class="nav-link rounded-5 p-2 d-flex flex-column align-items-center justify-content-center" asp-controller="Tenant" asp-action="Index" role="button" style="color:white;">
        <svg class="bi text-nexum-light w-100" fill="currentColor">
            <use xlink:href="#building"></use>
        </svg>
        <p class="m-0 text-center dashboard-nav-text text-nexum-light" style="font-size: calc(5vh*1rem);">Tenants</p>
    </a>
</div>
<div class="m-auto">
    <a id="userLink" class="nav-link rounded-5 p-2 d-flex flex-column align-items-center justify-content-center" asp-controller="User" asp-action="Index" role="button" style="color:white;">
        <svg class="bi text-nexum-light w-100" fill="currentColor">
            <use xlink:href="#people"></use>
        </svg>
        <p class="m-0 text-center dashboard-nav-text text-nexum-light" style="font-size: calc(5vh*1rem);">Users</p>
    </a>
</div>
<div class="m-auto">
    <a id="roleLink" class="nav-link rounded-5 p-2 d-flex flex-column align-items-center justify-content-center" asp-controller="Role" asp-action="Index" role="button" style="color:white;">
        <svg class="bi text-nexum-light w-100" fill="currentColor">
            <use xlink:href="#person-lock"></use>
        </svg>
        <p class="m-0 text-center dashboard-nav-text text-nexum-light" style="font-size: calc(5vh*1rem);">Roles</p>
    </a>
</div>
<div class="m-auto">
    <a id="permissionLink" class="nav-link rounded-5 p-2 d-flex flex-column align-items-center justify-content-center" asp-controller="Permission" asp-action="Index" role="button" style="color:white;">
        <svg class="bi text-nexum-light w-100" fill="currentColor">
            <use xlink:href="#key"></use>
        </svg>
        <p class="m-0 text-center dashboard-nav-text text-nexum-light" style="font-size: calc(5vh*1rem);">Permissions</p>
    </a>
</div>
<div class="m-auto">
    <a id="softwareLink" class="nav-link rounded-5 p-2 d-flex flex-column align-items-center justify-content-center" asp-controller="Software" asp-action="Index" role="button" style="color:white;">
        <svg class="bi text-nexum-light w-100" fill="currentColor">
            <use xlink:href="#cloud-arrow-up"></use>
        </svg>
        <p class="m-0 text-center dashboard-nav-text text-nexum-light" style="font-size: calc(5vh*1rem);">Software</p>
    </a>
</div>