<nav id="sideNav" class="nav flex-column d-flex align-items-center justify-content-center">
    <a class="nav-link text-center p-0" asp-controller="Home" role="button" style="color:white;">
        <i class="bi bi-house-door d-flex justify-content-center"></i>
        <p class="m-0">Home</p>
    </a>
    <hr />
    <a class="nav-link text-center p-0" asp-controller="Job" role="button" style="color:white;">
        <i class="bi bi-calendar-check d-flex justify-content-center"></i>
        <p class="m-0">Jobs</p>
    </a>
    <hr />
    <a class="nav-link text-center p-0" asp-controller="Storage" role="button" style="color:white;">
        <i class="bi bi-server d-flex justify-content-center"></i>
        <p class="m-0">Storage</p>
    </a>
    <hr />
    <a class="nav-link text-center p-0" asp-controller="Alert" role="button" style="color:white;">
        <i class="bi bi-exclamation-triangle d-flex justify-content-center"></i>
        <p class="m-0">Alerts</p>
    </a>
    <hr />
    <a class="nav-link text-center p-0" asp-controller="Log" role="button" style="color:white;">
        <i class="bi bi-file-earmark-text d-flex justify-content-center"></i>
        <p class="m-0">Logs</p>
    </a>
</nav>