<nav id="sideNav" class="nav flex-xxl-column d-flex align-items-center flex-nowrap">
    <div class="">
        <a class="nav-link rounded-5 p-3" asp-controller="Home" role="button" style="color:white;">
            <i class="bi bi-house-door d-flex justify-content-center text-nexum-light"></i>
            <p class="m-0 text-center dashboard-nav-text text-nexum-light">Home</p>
        </a>
    </div>
    <div class="">
        <a class="nav-link rounded-5 p-3" asp-controller="Job" role="button" style="color:white;">
            <i class="bi bi-calendar-check d-flex justify-content-center text-nexum-light"></i>
            <p class="m-0 text-center dashboard-nav-text text-nexum-light">Jobs</p>
        </a>
    </div>
    <div class="">
        <a class="nav-link rounded-5 p-3" asp-controller="Storage" role="button" style="color:white;">
            <i class="bi bi-database d-flex justify-content-center text-nexum-light"></i>
            <p class="m-0 text-center dashboard-nav-text text-nexum-light">Storage</p>
        </a>
    </div>
    <div class="">
        <a class="nav-link rounded-5 p-3" asp-controller="Alert" role="button" style="color:white;">
            <i class="bi bi-exclamation-triangle d-flex justify-content-center text-nexum-light"></i>
            <p class="m-0 text-center dashboard-nav-text text-nexum-light">Alerts</p>
        </a>
    </div>
    <div class="">
        <a class="nav-link rounded-5 p-3" asp-controller="Log" role="button" style="color:white;">
            <i class="bi bi-file-earmark-text d-flex justify-content-center text-nexum-light"></i>
            <p class="m-0 text-center dashboard-nav-text text-nexum-light">Logs</p>
        </a>
    </div>
</nav>