<footer>
    <div class="text-nexum-light text-end text-nowrap me-5">
        &copy; 2024 Nexum Inc. <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color:inherit;">Privacy</a>.
    </div>
</footer>