<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nexum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="bg-dark bg-gradient">
    <header class="bg-nexum-dark bg-gradient sticky-top">
        <partial name="_NavBarPartial" />
    </header>
    <main role="main" class="bg-nexum-dark bg-gradient">
        <partial name="_CookieSessionListPartial" /> @*for developement*@
        <div class="container-fluid p-0">
            <div class="row gx-0">
                <div class="col-11 col-xxl-10 p-0 mx-auto">
                    <partial name="_TempDataMessagePartial" />
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <partial name="_FooterPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="_framework/blazor.server.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    document.getElementById('navDropdownMenuButton').addEventListener('click', function () {
        var dropdownMenu = document.getElementById('navDropdownMenu');
        dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    });
</script>