<nav id="topNavbar" class="navbar bg-dark py-0">
    <div class="container-fluid bg-dark">
        <a class="text-center p-0" asp-controller="Home" role="button" style="color:white;">
            <div class="d-flex justify-content-center">
                <img src="~/images/NexumLong.png" alt="Nexum Logo" style="max-width: 180px;" />
            </div>
        </a>
        <h4 class="text-white">@ViewData["Title"]</h4>
        <div class="dropdown">
            <button id="navDropdownMenuButton" class="btn btn-dark d-flex no-dropdown-arrow" data-bs-toggle="dropdown">
                <i class="bi bi-gear" style="font-size: 2rem;"></i>
            </button>
            <ul id="navDropdownMenu" class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                <li><a class="dropdown-item" href="#">@(User.Identity?.Name ?? "Settings")</a></li>
                <li><a class="dropdown-item" href="#">Admin Panel</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>