@if (TempData.ContainsKey("LastActionMessage"))
{
    <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
        @TempData["LastActionMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}