@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox">
    <div id="userContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadUserTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Users...</h5>';
            $('#userContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/User/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#userContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#userContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 1500);
        }

        loadUserTable();

    </script>
}