@model User

@{
    ViewData["Title"] = "Permissions";
}

<h1>List of Permissions</h1>

<a asp-action="Add">Add Permission</a>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>IsActive</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model.Permissions)
        {
            <tr>
                <td>@permission.Id</td>
                <td>@permission.Name</td>
                <td>@permission.Description</td>
                <td>@permission.IsActive</td>
                <td>
                    <a asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>