@{
    ViewData["Title"] = "Storage";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="parentContentBox">
    <div id="tempDataMessage" class="mb-2"></div>
    <div id="nasActionContentBox" class="mb-2"></div>
    <div class="accordion">
        <h2 id="nasHeading">
            <button class="accordion-button rounded-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNAS" aria-expanded="true" aria-controls="collapseNAS">
                <strong>NAS Servers</strong>
            </button>
        </h2>
        <div id="collapseNAS" class="collapse show" aria-labelledby="nasHeading">
            <div id="nasContentBox" class="mb-2"></div>
        </div>
    </div>
    <div class="accordion">
        <h2 id="backupsHeading">
        <button class="accordion-button rounded-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBackup" aria-expanded="true" aria-controls="collapseBackup">
                <strong>Backups</strong>
            </button>
        </h2>
        <div id="collapseBackup" class="collapse show" aria-labelledby="backupsHeading">
            <div id="backupContentBox" class="mb-2"></div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            function loadNASTable() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading NASServers...</h5>';
                $('#nasContentBox').prepend(loadingMessage);

                setTimeout(function () {
                    $.ajax({
                        url: '/Storage/NASTable',
                        type: 'GET',
                        success: function (result) {
                            $('#nasContentBox').html(result);
                            $('.collapse').on('show.bs.collapse hide.bs.collapse', function () {
                                $('#nasActionContentBox').html('');
                            });
                        },
                        error: function (xhr, status, error) {
                            $('#nasContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 2000);
            }

            function loadBackupTable() {
                var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Backups...</h5>';
                $('#backupContentBox').prepend(loadingMessage);
                setTimeout(function () {
                    $.ajax({
                        url: '/Storage/BackupTable',
                        type: 'GET',
                        success: function (result) {
                            $('#backupContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#backupContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }, 2000);
            }

            loadNASTable();
            loadBackupTable();

            $(document).on('submit', '[id^=tenant-select], [id^=device-select]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace(/^(tenant-select|device-select)/, '');

                $('#nasActionContentBox').html('');
                loadNASTable();
                loadBackupTable();
            });

            $(document).on('click', '[id^=nasCreateLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('nasCreateLink', '');

                $.ajax({
                    url: '/Storage/' + id + '/CreateNAS',
                    type: 'GET',
                    success: function (result) {
                        $('#nasActionContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#nasActionContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $(document).on('click', '[id^=nasEditLink]', function (event) {
                event.preventDefault();
                var ids = $(this).attr('id').replace('nasEditLink', '').split('-');
                var tenantId = ids[0];
                var nasId = ids[1];

                $.ajax({
                    url: '/api/Session/Tenant',
                    type: 'GET',
                    success: function (result) {
                        console.log(result);
                        if (result.activeTenantId !== tenantId) {
                            $.ajax({
                                url: '/api/Session/Tenant/' + tenantId,
                                type: 'POST',
                                success: function (result) {
                                    loadEdit(nasId);
                                    loadTenantDeviceSelectorPartial();
                                    loadNASTable();
                                    loadBackupTable();
                                },
                                error: function (xhr, status, error) {
                                    console.error('Error:', error);
                                }
                            });
                        } else {
                            loadEdit(nasId);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });

                function loadEdit(nasId) {
                    $.ajax({
                        url: '/Storage/' + nasId + '/UpdateNAS',
                        type: 'GET',
                        success: function (result) {
                            $('#nasActionContentBox').html(result);
                        },
                        error: function (xhr, status, error) {
                            $('#nasActionContentBox').html('<p class="text-nexum-light">No Partial Found</p>');
                            console.error('Error loading partial view:', error);
                        }
                    });
                }
            });

            $(document).on('submit', '[id^=nasDeletelink]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace('nasDeletelink', '');

                $.ajax({
                    url: '/Storage/' + id + '/DeleteNAS',
                    type: 'POST',
                    success: function (result) {
                        if (result.success) {
                            $('#tempDataMessageNASServer' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            loadNASTable();
                            loadBackupTable();
                        } else {
                            $('#tempDataMessageNASServer' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tempDataMessageNASServer' + id).html('<div class="alert alert-danger alert-dismissible fade show">An error occurred while processing your request.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        console.error('Error:', error);
                    }
                });
            });

            $(document).on('submit', '[id^=backupDeletelink]', function (event) {
                event.preventDefault();
                var form = $(this);
                var id = form.attr('id').replace('backupDeletelink', '');

                $.ajax({
                    url: '/Storage/' + id + '/DeleteBackup',
                    type: 'POST',
                    success: function (result) {
                        if (result.success) {
                            $('#tempDataMessageBackup' + id).html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            loadNASTable();
                            loadBackupTable();
                        } else {
                            $('#tempDataMessageBackup' + id).html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#tempDataMessageBackup' + id).html('<div class="alert alert-danger alert-dismissible fade show">An error occurred while processing your request.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                        console.error('Error:', error);
                    }
                });
            });

            $('#nasActionContentBox').on('submit', '#nasForm', function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = form.serialize();
                var id = form.find('input[name="Id"]').val();
                var tenantId = form.find('input[name="TenantId"]').val();
                var url = id ? '/Storage/' + id + '/UpdateNAS' : '/Storage/' + tenantId + '/CreateNAS';

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success) {
                            $('#nasActionContentBox').html('');
                            $('#tempDataMessage').html('<div class="alert alert-success alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            loadNASTable();
                            loadBackupTable();
                        } else {
                            $('#nasActionContentBox').html(result.html);
                            if (result.message) {
                                $('#tempDataMessage').html('<div class="alert alert-danger alert-dismissible fade show">' + result.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>');
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#nasActionContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            });


            $(document).on('click', '[id^=nasCloseLink]', function (event) {
                event.preventDefault();
                var id = $(this).attr('id').replace('nasCloseLink', '');
                $('#nasActionContentBox').html('');
            });

        });
    </script>
}