@{
    ViewData["Title"] = "Permissions";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox">
    <div id="permissionContentBox"></div>
</div>

@section Scripts {

    <script>

        function loadPermissionTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Permissions...</h5>';
            $('#permissionContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Permission/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#permissionContentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        $('#permissionContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 1500);
        }

        loadPermissionTable();

    </script>
}