@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

<div class="container-fluid p-3 rounded bg-dark text-white">
    <div class="row align-items-center mb-2 bg-dark bg-gradient p-2 rounded position-fixed w-100" id="topNavbar" style="z-index: 1000; top: 0; left: 0;">
        <div class="col-10 d-flex align-items-center" style="padding-left: 20px;">
            <img src="~/images/NexumLogo.png" class="img-fluid" style="height: 100px; width: 100px; object-fit: cover;" alt="Nexum Logo">
            <p class="h4 font-weight-bold mb-0 p-3">Nexum Backup Solution</p>
        </div>
        <div class="col-2 text-end">
            <div class="dropdown">
                <button class="btn btn-lg dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">
                    <i class="bi bi-gear" style="font-size: 1.5rem;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" id="dropdownMenu">
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 160px;">
        <div class="col-1 position-fixed" style="top: 160px;">
            <div class="nav flex-column nav-pills text-center" id="sideNavbar">
                <button class="nav-link mb-2 active d-flex align-items-center justify-content-center bg-secondary text-white" href="#" id="homeNavLink" style="width: 100px; height: 100px;">
                    <i class="bi bi-house-door" style="font-size: 5rem;"></i>
                </button>
                <button class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" id="alertNavLink" style="width: 100px; height: 100px;">
                    <i class="bi bi-exclamation-triangle" style="font-size: 5rem;"></i>
                </button>
                <a class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" style="width: 100px; height: 100px;">
                    <i class="bi bi-file-earmark-text" style="font-size: 5rem;"></i>
                </a>
                <a class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" style="width: 100px; height: 100px;">
                    <i class="bi bi-gear-wide-connected" style="font-size: 5rem;"></i>
                </a>
                <a class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" style="width: 100px; height: 100px;">
                    <i class="bi bi-hdd-stack" style="font-size: 5rem;"></i>
                </a>
                <a class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" style="width: 100px; height: 100px;">
                    <i class="bi bi-server" style="font-size: 5rem;"></i>
                </a>
                <a class="nav-link mb-2 d-flex align-items-center justify-content-center bg-dark text-white" href="#" style="width: 100px; height: 100px;">
                    <i class="bi bi-shield-lock" style="font-size: 5rem;"></i>
                </a>
            </div>
        </div>
        <div class="col-11 offset-1" id="parentBox">
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#homeNavLink').click(function () {
                $.ajax({
                    url: '/Summary/Index',
                    type: 'GET',
                    success: function (result) {
                        $('#parentBox').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading partial view:', error);
                    }
                });
            });

            $('#alertNavLink').click(function () {
                $.ajax({
                    url: '/Alert/Index',
                    type: 'GET',
                    success: function (result) {
                        $('#parentBox').html(result);
                        $.ajax({
                            url: '/Alert/Table',
                            type: 'GET',
                            success: function (result) {
                                $('#contentBox').html(result);
                            },
                            error: function (xhr, status, error) {
                                console.error('Error loading partial view:', error);
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading partial view:', error);
                    }
                });
            });
        });
    </script>
}