@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox">
    <div id="contentBox" class="border border-nexum-light"></div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Role/Partial',
                type: 'GET',
                success: function (result) {
                    $('#contentBox').html(result);
                },
                error: function (xhr, status, error) {
                    $('#contentBox').html('<p>' + 'No Partial Found' + '</p>');
                    console.error('Error loading partial view:', error);
                }
            });
        });
    </script>
}