@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}

<div id="parentContentBox">
    <div id="roleContentBox"></div>
</div>

@section Scripts {
    <script>
        function loadRoleTable() {
            var loadingMessage = '<h5 id="loadingMessage" class="text-nexum-light">Loading Roles...</h5>';
            $('#roleContentBox').prepend(loadingMessage);
            setTimeout(function () {
                $.ajax({
                    url: '/Role/Table',
                    type: 'GET',
                    success: function (result) {
                        $('#roleContentBox').html(result);
                        $('.collapse').on('show.bs.collapse', function () {
                            $('.collapse').not(this).collapse('hide');
                        });
                    },
                    error: function (xhr, status, error) {
                        $('#roleContentBox').html('<p class="text-nexum-light">' + 'No Partial Found' + '</p>');
                        console.error('Error loading partial view:', error);
                    }
                });
            }, 1500);
        }

        loadRoleTable();
        
    </script>
}