html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

h5 {
    font-size: clamp(1rem, 2vw, 2vw);
}

h4 {
    font-size: clamp(20px, 2.5vw, 65px);
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

i {
    font-size: calc((8vh + 3vw + 3vh + 8vw)/3);
}

.no-dropdown-arrow::after {
    display: none;
}

.dashboard-nav-left {
    height: 90vh;
    max-width: 10vw;
    position: sticky;
}

.dashboard-nav-top {
    height: auto;
    max-width: 100%;
    position: relative;
}

.dashboard-nav-text {
    font-size: clamp(0rem, 1rem, 1rem);
}
