html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    min-height:100%;
    background-image: linear-gradient(to bottom, rgba(100, 16, 150, 1), rgba(30, 4, 51, 1));
}

body {
    background-color: rgba(255, 255, 255, 0);
}

h5 {
    font-size: clamp(1rem, 2vw, 2vw);
}

h4 {
    font-size: clamp(20px, 2.5vw, 65px);
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

/*i {
    font-size: calc((8vh + 3vw + 3vh + 8vw)/3);
}*/

.no-dropdown-arrow::after {
    display: none;
}

/*.dashboard-nav-left {
    position: sticky;
}*/

.dashboard-nav-top {
    height: auto;
    max-width: 100%;
    position: relative;
}

.dashboard-nav-text {
    font-size: clamp(0rem, 1rem, 1rem);
}

.bg-nexum-light {
    background-color: rgba(128, 16, 220, 0.15);
}

.bg-nexum-dark {
    background-color: rgba(30, 4, 51, 1);
}

.border-nexum-dark-3 {
    border-color: rgba(30, 4, 51, 1) !important;
    border-width: 3px !important;
}

.text-nexum-dark {
    color: rgba(30, 4, 51, 1);
}

.text-nexum-light {
    color: #ffffff;
}

/*Nexum Home Rectangular Cards*/
.nexum-card-container {
    width: 96px; 
    height: 96px; 
}

.nexum-card-icon {
    font-size: 3.25rem;
}

.nexum-card-flex-item {
    flex: 1 1 calc(33.33% - 2rem);
}

.nexum-card-title {
    font-size: 3rem;
}

.nexum-card-body {
    display: flex;
    align-items: center;
    text-align: center;
}

.nexum-card-content {
    flex-grow: 1;
}

.nexum-card-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.nexum-card-text {
    font-size: 1.25rem;
}

/* Nexum Alerts, Logs, and Jobs Square Cards*/
.nexum-card-container-square {
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 1rem; /* Rounded square corners */
}

.nexum-card-title-square {
    font-size: 2vw; /* Responsive font size */
}

.nexum-card-text-square {
    font-size: 1vw; /* Responsive font size */
}

.nexum-card-body-square {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.nexum-card-shadow-square {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

/* Background colors for Alerts and Logs and jobs */
.bg-information, .bg-information-log {
    background-color: #2f4f4f; /* Dark Slate Gray */
}

.bg-low, .bg-debug, .bg-complete {
    background-color: #228b22; /* Forest Green */
}

.bg-medium, .bg-warning {
    background-color: #ffa500; /* Orange */
}

.bg-high, .bg-trace {
    background-color: #ff4500; /* Orange Red */
}

.bg-critical, .bg-error {
    background-color: #8b0000; /* Dark Red */
}

.bg-not-started {
    background-color: #6c757d; /* Slate Gray */
}

.bg-in-progress {
    background-color: #1e90ff; /* Dodger Blue */
}

.bg-restarting {
    background-color: #ff8c00; /* Dark Orange */
}

.bg-failed {
    background-color: #8b0000; /* Dark Red */
}

/* Highlight color and shadow on hover */
.nav-link:hover, .nav-link.active {
    box-shadow: inset 0px 0px 150px rgba(243, 229, 255, 1); /* Shadow on hover */
}

.nav-link:hover svg, .nav-link:hover p, .nav-link.active svg, .nav-link.active p  {
    color: rgba(30, 4, 51, 1);
    transform: scale(1.1);
}

.btn-success-nexum-dark {
    background-color: rgba(30, 4, 51, 1);
    border-color: #ffffff;
    border-width: 1px;
    overflow: hidden;
}

.btn-success-nexum-dark:hover {
    background-color: rgba(40, 167, 69, 1);
    color: #ffffff;
    transform: scale(1.1);
    border-color: rgba(30, 4, 51, 1);
    border-width: 1px;
}

.btn-nexum-gear-dark {
    background-color: rgba(0, 0, 0, 0);
}

.btn-nexum-gear-dark:hover {
    background-color: rgba(0, 0, 0, 1);
    transform: scale(1.01);
}

.dropdown-menu {
    background-color: rgba(30, 4, 51, 0.95);
    border-color: rgba(255, 255, 255, 1);
    border-width: 1px;
}

.dropdown-item:hover {
    background-color: rgba(128, 16, 220, 0.5);
    color: rgba(255, 255, 255, 1);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
    background-color: rgba(30, 4, 51, 1);
}

.vertical-nav {
    position: fixed;
    height: calc(100vh - 56px);
    background-image: linear-gradient(to right, rgba(100, 16, 150, 1), rgba(30, 4, 51, 1));
}

.horizontal-nav {
    position: fixed;
    height: 115px;
    z-index: 1000;
    background-image: linear-gradient(to bottom, rgba(100, 16, 150, 1), rgba(30, 4, 51, 1));
}

.table-button-nexum {
    max-width: 40px;
    max-height: 40px;
}

.table-nexum-dark {
    background-color: rgba(30, 4, 51, 0.8); /* Dark purple with opacity */
    border: 1px solid rgba(222, 226, 230, 0.8); /* Border with opacity */
}

.table-nexum-dark th, .table-nexum-dark td {
    background-color: rgba(30, 4, 51, 0.8); /* Dark purple with opacity for cells */
    border: 1px solid rgba(222, 226, 230, 0.8); /* Border with opacity for cells */
    color: white; /* Ensure text is visible */
}

.table-nexum-dark thead th {
    background-color: rgba(52, 58, 64, 0.8); /* Dark gray with opacity for header */
    color: white; /* White text for header */
}

.table-nexum-dark tbody .row-nexum-striped-odd, .row-nexum-striped:nth-child(odd) {
    background-color: rgba(30, 4, 51, 0.8); /* Dark purple with opacity for odd rows */
}

.table-nexum-dark tbody .row-nexum-striped-even, .row-nexum-striped:nth-child(even) {
    background-color: rgba(243, 229, 255, 0.4); /* Dark gray with opacity for even rows */
}

.table-nexum-dark tbody tr:hover {
    background-color: rgba(233, 236, 239, 0.8); /* Lighter gray with opacity for hover effect */
}

.form-control-nexum-dark {
    background-color: rgba(30, 4, 51, 0.8); /* Dark purple with opacity */
    border: 1px solid rgba(222, 226, 230, 0.8); /* Border with opacity */
    color: white; /* White text */
}

.form-control-nexum-dark:focus {
    background-color: rgba(30, 4, 51, 0.8); /* Dark purple with opacity */
    border: 1px solid rgba(222, 226, 230, 0.8); /* Border with opacity */
    color: white; /* White text */
}